<section class="ui segment">
  <div class="ui statistics">
    <div class="tiny statistic">
      <div class="text value">
        Goal Date:
      </div>
      <div class="label">
      <i class="calendar icon"></i>{{member.goal.date}}
      </div>
    </div>
    <div class="tiny statistic">
      <div class="text value">
        Weight
      </div>
      <div class="label">
        {{member.goal.weight}}
      </div>
    </div>
    <div class="tiny statistic">
      <div class="text value">
        Chest
      </div>
      <div class="label">
        {{member.goal.chest}}
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Thigh
      </div>
      <div class="label">
        {{member.goal.thigh}}
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Upper Arm
      </div>
      <div class="label">
        {{member.goal.upperarm}}
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Waist
      </div>
      <div class="label">
        {{member.goal.waist}}
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Hips
      </div>
      <div class="label">
        {{member.goal.hips}}
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Status
      </div>
      <div class="label">
        {{member.goal.status}}
      </div>
    </div>
  </div>
</section>