<table class="ui celled table">
  <thead>
    <tr>
<<<<<<< HEAD
      <th>Date</th>
=======
>>>>>>> f2a6fade306a7311f91331912e24e0705d165c0e
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upperarm</th>
      <th>Waist</th>
      <th>Hips</th>
<<<<<<< HEAD
      <th>Trend</th>
      <th>Comment</th>
      <th>Edit Comment</th>
=======
>>>>>>> f2a6fade306a7311f91331912e24e0705d165c0e
    </tr>
  </thead>
  <tbody>
    {{#each member.assessments}}
      <tr>
        <td>
<<<<<<< HEAD
          {{date}}
        </td>
        <td>
=======
>>>>>>> f2a6fade306a7311f91331912e24e0705d165c0e
          {{weight}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperarm}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
<<<<<<< HEAD
        <td>
          {{trend}}
        </td>
        <td>
          {{comment}}
        </td>
        <td>
          <a href="/comment/{{userid}}/editcomment/{{assessmentid}}" class="ui icon button">
            <i class="pencil alternate icon"></i>
          </a>
        </td>
=======
>>>>>>> f2a6fade306a7311f91331912e24e0705d165c0e
      </tr>
    {{/each}}
  </tbody>
</table>