<table class="ui celled table">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upperarm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Trend</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          {{assessment.weight}}
        </td>
        <td>
          {{assessment.chest}}
        </td>
        <td>
          {{assessment.thigh}}
        </td>
        <td>
          {{assessment.upperarm}}
        </td>
        <td>
          {{assessment.waist}}
        </td>
        <td>
          {{assessment.hips}}
        </td>
        <td>
          {{assessment.trend}}
        </td>
      </tr>
  </tbody>
</table>